extends layout

block content
  <div class="container text-center mt-5">
      <p class="text-center">
            An An error has occurred, it seems that the document type is not yet listed in our rules.
      </p>
  </div>

